@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");

#n ul {
  position: relative;
}
#n ul li {
  list-style: none;
  text-align: center;
}
#n ul li a {
  color: #333;
  text-decoration: none;
  font-size: 3rem;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
#n ul:hover li a {
  color: #0002;
}
#n ul li:hover a {
  color: #000;
  background: transparent;
}
#n ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10vw;
  transition: letter-spacing 0.5s, left 0.5s;
}
#n ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1000%;
  height: 1000%;
}
#n ul li:nth-child(1) a:before {
  background: #0470fe;
}
#n ul li:nth-child(2) a:before {
  background: #ff7675;
}
#n ul li:nth-child(3) a:before {
  background: #1582fe;
}
#n ul li:nth-child(4) a:before {
  background: #a29bfe;
}
#n ul li:nth-child(5) a:before {
  background: #fd79a8;
}
#n ul li:nth-child(6) a:before {
  background: #ffeaa7;
}
